---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import WhyUs from '@components/WhyUs.astro';
import Advantages from '@components/Advantages.astro';
import OurValues from '@components/OurValues.astro';
---

<Layout title='Astro'>
	<Header />

	<div class='mb-16 pt-32 md:mb-20 md:pt-36 lg:mb-24 lg:pt-44 xl:mb-24 xl:pt-52'>
		<div class='fancy-feature-fiftyOne relative'>
			<div class='container'>
				<div class='flex flex-wrap'>
					<div class='wow fadeInLeft m-auto w-full max-w-full flex-[0_0_auto] px-[12px] lg:w-7/12 xl:w-7/12'>
						<div class='title-style-five text-center'>
							<div
								class="sc-title-two relative mb-5 inline-block pl-10 text-[17px] text-(--prime-ten) italic before:absolute before:top-3.5 before:left-0 before:h-px before:w-6 before:bg-(--prime-ten) before:content-['']">
								About
							</div>
							<h2 class='font-Recoleta text-4xl font-normal text-black lg:text-5xl xl:text-6xl'>A little about Us</h2>
							<p class='mb-0 pt-7 text-base lg:text-lg xl:text-xl'>
								We're a team of sisters, Vivian and Daniela, with more than 10 years of experience combined, doing
								front-end development. Even better yet, we've been using Tailwind CSS daily since 2018 and we love it.
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- /.container -->
			<img
				src='images/lazy.svg'
				data-src='images/shape/shape_172.svg'
				alt=''
				class='lazy-img shapes shape-two xsm:hidden! absolute top-[4%] right-[17%] z-[-1] sm:hidden! md:hidden! lg:right-[6%] 2xl:right-[8%]'
			/>
		</div>
	</div>

	<WhyUs />

	<Advantages />

	<OurValues />

	<Footer />
</Layout>
