---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import WhyUs from '@components/WhyUs.astro';
import OurProcess from '@components/OurProcess.astro';
import CTA from '@components/CTA.astro';
import FAQ from '@components/FAQ.astro';
import Testimonials from '@components/Testimonials.astro';
import Advantages from '@components/Advantages.astro';
---

<Layout
	title='Design to Tailwind CSS & Alpine.js | We convert your design to Tailwind CSS code with Alpine.js components'
	description='Lightweight interactivity with Tailwind CSS and Alpine.js. Perfect for static sites that need just enough JavaScript.'
	keywords={['design to alpinejs', 'tailwind alpinejs', 'alpine.js development', 'tailwind css']}>
	<Header />

	<div
		class='hero-banner-two relative pt-32 pb-12 md:pb-16 lg:pt-40 lg:pb-20 xl:pt-48 xl:pb-24'>
		<div class='container'>
			<img
				src='images/logo/logo-alpine.svg'
				alt=''
				class='lazy-img mx-auto h-10 w-14 md:h-12 md:w-16 lg:h-16 lg:w-20'
			/>
			<div class='flex flex-wrap pt-7'>
				<div class='wow fadeInUp mx-auto w-full text-center lg:w-5/6 xl:w-2/3'>
					<h1
						class='hero-heading font-Recoleta relative text-4xl/[1.2em] font-normal sm:text-[40px] lg:text-[58px]/[1.09em] 2xl:text-[70px]'>
						<span
							class="relative z-1 inline-block before:absolute before:top-1/2 before:left-0 before:-z-1 before:h-[81%] before:w-full before:-translate-y-1/2 before:bg-[#FFEBE5] before:content-['']">
							Design
						</span> to Tailwind CSS & Alpine.js
					</h1>
					<p
						class='pt-2.5 text-base/[1.67em] lg:pt-7 lg:text-[19px]/[1.67em] xl:pt-10 xl:text-xl/[1.67em]'>
						We turn your design into clean Tailwind code and integrate it into a working Alpine.js project. Perfect for
						agencies and brands who want pixel-accurate, interactive UIs without complex frameworks.
					</p>
				</div>
			</div>
		</div>
	</div>

	<WhyUs />

	<Advantages />

	<OurProcess />

	<Testimonials />

	<CTA />

	<FAQ />

	<Footer />
</Layout>
