---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import WhyUs from '@components/WhyUs.astro';
import OurProcess from '@components/OurProcess.astro';
import LogoCloud from '@components/LogoCloud.astro';
import CTA from '@components/CTA.astro';
import FAQ from '@components/FAQ.astro';
import Testimonials from '@components/Testimonials.astro';
---

<Layout title='Astro'>
	<Header />

	<div class='hero-banner-two relative pt-32 pb-12 md:pb-16 lg:pt-40 lg:pb-20 xl:pt-48 xl:pb-24'>
		<div class='container'>
			<img
				src='images/logo/logo-figma.png'
				alt=''
				class='lazy-img mx-auto h-10 md:h-12 lg:h-16 xl:h-16'
			/>
			<div class='flex flex-wrap pt-7'>
				<div class='wow fadeInUp mx-auto w-full text-center lg:w-5/6 xl:w-2/3'>
					<h1
						class='hero-heading font-Recoleta xsm:text-4xl xsm:leading-[1.2em] relative text-[82px] leading-[1.09em] font-normal sm:text-[40px] sm:leading-[1.2em] md:text-[40px] md:leading-[1.2em] lg:text-[58px] 2xl:text-[70px]'>
						<img
							src='images/lazy.svg'
							data-src='images/shape/shape_25.svg'
							alt=''
							class='lazy-img shapes line-shape xsm:hidden! absolute -bottom-4 left-16 z-[-1] sm:hidden! md:hidden! lg:left-40 lg:w-40 xl:left-24 xl:w-56'
						/>Figma <span
							class="relative z-1 inline-block before:absolute before:top-2/4 before:left-[31%] before:z-[-1] before:h-[81%] before:w-[73%] before:-translate-y-2/4 before:bg-[#FFEBE5] before:content-['']"
							>to</span
						> Tailwind.
					</h1>
					<p
						class='xsm:pt-[10px] text-base leading-[1.67em] sm:pt-[10px] md:pt-[10px] lg:pt-7 lg:text-[19px] xl:pt-10 xl:text-xl'>
						Line by line, handcrafted by us. We work with PSD, Figma, Adobe XD and Sketch designs and with design
						hand-off tools like Invision and Zeplin.Line by line, handcrafted by us. We work with PSD, Figma, Adobe XD
						and Sketch designs and with design hand-off tools like Invision and Zeplin.Line by line, handcrafted by us.
					</p>
				</div>
			</div>
		</div>
	</div>

	<WhyUs />

	<OurProcess titleLine2='our all features' />

	<Testimonials />

	<LogoCloud />

	<CTA />

	<FAQ />

	<Footer />
</Layout>
