---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import WhyUs from '@components/WhyUs.astro';
---

<Layout title='Astro'>
	<Header />

	<div class="hero-banner-two relative pt-36 lg:pt-44 xl:pt-52 xl:pb-24 lg:pb-20 md:pb-16 pb-12">
		<div class="container">
			<div class="flex flex-wrap">
				<div class="w-full lg:w-5/6 xl:w-2/3 mx-auto text-center wow fadeInUp">
					<h1 class="hero-heading font-normal font-Recoleta relative text-[82px] 2xl:text-[70px] lg:text-[58px] md:text-[40px] md:leading-[1.2em] sm:text-[40px] sm:leading-[1.2em] xsm:text-4xl xsm:leading-[1.2em] leading-[1.09em]"><img src="images/lazy.svg" data-src="images/shape/shape_25.svg" alt="" class="lg:w-36 xl:w-36 lazy-img shapes line-shape absolute z-[-1] left-28 xl:left-40 -bottom-1 md:hidden! sm:hidden! xsm:hidden!">For <span class="relative inline-block z-1 before:content-[''] before:absolute before:-translate-y-2/4 before:w-[73%] before:h-[81%] before:z-[-1] before:left-[31%] before:top-2/4 before:bg-[#FFEBE5]">Agencies</span></h1>
					<p class=" text-base xl:text-xl lg:text-[19px] leading-[1.67em] xl:pt-10 lg:pt-[10px] md:pt-[10px] sm:pt-[10px] xsm:pt-[10px]">Line by line, handcrafted by us. We work with PSD, Figma, Adobe XD and Sketch designs and with design hand-off tools like Invision and Zeplin.Line by line, handcrafted by us. We work with PSD, Figma, Adobe XD and Sketch designs and with design hand-off tools like Invision and Zeplin.Line by line, handcrafted by us.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="partner-section-six xl:mb-28 lg:mb-20 md:mb-16 mb-12 wow fadeInUp">
		<div class="container">
			<div class="top-header p-[0_0_70px] lg:pb-[45px] md:pb-[45px] sm:pb-[45px] xsm:pb-[45px] border-b-2 border-b-black border-solid">
				<div class="flex items-center justify-between">
					<span class="lines inline-block h-0.5 w-full md:w-[33%] sm:w-[33%] xsm:w-[33%] grow bg-black"></span>
					<div class="title uppercase text-black text-center text-[16px] lg:text-[14px] md:text-[14px] sm:text-[14px] xsm:text-[14px] tracking-[2px] w-full px-2.5 py-0">Agencies we've worked with</div>
					<span class="lines inline-block h-0.5 w-full md:w-[33%] sm:w-[33%] xsm:w-[33%] grow bg-black"></span>
				</div>

				<div class="partner_slider_one mt-[65px] lg:mt-10 md:mt-10 sm:mt-10 xsm:mt-10 ">
					<div class="item m-[0_12px]">
						<div class="icon flex items-center justify-center h-[50px]"><img src="images/logo/Plogo-37.png" alt=""></div>
					</div>
					<div class="item m-[0_12px]">
						<div class="icon flex items-center justify-center h-[50px]"><img src="images/logo/Plogo-38.png" alt=""></div>
					</div>
					<div class="item m-[0_12px]">
						<div class="icon flex items-center justify-center h-[50px]"><img src="images/logo/Plogo-39.png" alt=""></div>
					</div>
					<div class="item m-[0_12px]">
						<div class="icon flex items-center justify-center h-[50px]"><img src="images/logo/Plogo-40.png" alt=""></div>
					</div>
					<div class="item m-[0_12px]">
						<div class="icon flex items-center justify-center h-[50px]"><img src="images/logo/Plogo-41.png" alt=""></div>
					</div>
					<div class="item m-[0_12px]">
						<div class="icon flex items-center justify-center h-[50px]"><img src="images/logo/Plogo-39.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<WhyUs />

	<div class="fancy-feature-six relative">
		<div class="container">
			<div class="flex flex-wrap items-center">
				<div class="xl:w-4/12 lg:w-4/12 md:w-6/12 mt-10 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInUp">
					<div class="">
						<h2 class="font-Recoleta font-normal text-black xl:text-6xl lg:text-5xl text-4xl">Let’s <br> <span class="inline-block relative z-1">Discover <span class="mark-bg absolute left-[-5px] -translate-y-2/4 w-[98%] h-[50px] z-[-1] top-2/4 md:h-[34px] sm:h-[34px] xsm:h-[34px]" style="background-color:#E1EDFF;"></span></span> our all features</h2>
						<span class="mt-6 md:mt-12 lg:mt-12 xl:mt-12 block w-28 bg-black h-[3px]"></span>
					</div> <!-- /.title-style-three -->
				</div>
				<div class="xl:w-4/12 lg:w-4/12 md:w-6/12 mt-10 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInUp" data-wow-delay="0.1s">
					<div class="card-style-three border transition-all duration-[0.3s] ease-[ease-in-out] w-full p-[42px_10px_30px_45px] lg:p-[30px_10px_25px_15px] md:p-[30px_10px_25px_15px] sm:p-[30px_10px_25px_15px] xsm:p-[30px_10px_25px_15px] rounded-[10px] border-solid border-[#b1b2f4] hover:shadow-[0_20px_50px_rgba(0,0,0,0.04)] hover:border-[#FF35D9] bg-white">
						<div class="icon flex items-end h-[65px]"><img src="images/lazy.svg" data-src="images/icon/icon_13.svg" alt="" class="lazy-img max-h-full"></div>
						<h4 class="mt-[25px] mb-5 2xl:text-[22px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px]">1- Welcome</h4>
						<p class="md:min-h-[150px] lg:min-h-[150px] xl:min-h-[150px] mb-4 md:mb-0">Our deep understanding of project and program management has enabled the success of our clients.</p>
					</div> <!-- /.card-style-three -->
				</div>
				<div class="xl:w-4/12 lg:w-4/12 md:w-6/12 mt-10 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInUp" data-wow-delay="0.2s">
					<div class="card-style-three border transition-all duration-[0.3s] ease-[ease-in-out] w-full p-[42px_10px_30px_45px] lg:p-[30px_10px_25px_15px] md:p-[30px_10px_25px_15px] sm:p-[30px_10px_25px_15px] xsm:p-[30px_10px_25px_15px] rounded-[10px] border-solid border-[#b1b2f4] hover:shadow-[0_20px_50px_rgba(0,0,0,0.04)] hover:border-[#FF35D9] bg-white">
						<div class="icon flex items-end h-[65px]"><img src="images/lazy.svg" data-src="images/icon/icon_16.svg" alt="" class="lazy-img max-h-full"></div>
						<h4 class="mt-[25px] mb-5 2xl:text-[22px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px]">2- We chat</h4>
						<p class="md:min-h-[150px] lg:min-h-[150px] xl:min-h-[150px] mb-4 md:mb-0">Our deep understanding of project and program management has enabled the success of our clients.</p>
					</div> <!-- /.card-style-three -->
				</div>
				<div class="xl:w-4/12 lg:w-4/12 md:w-6/12 mt-10 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInUp" data-wow-delay="0.05s">
					<div class="card-style-three border transition-all duration-[0.3s] ease-[ease-in-out] w-full p-[42px_10px_30px_45px] lg:p-[30px_10px_25px_15px] md:p-[30px_10px_25px_15px] sm:p-[30px_10px_25px_15px] xsm:p-[30px_10px_25px_15px] rounded-[10px] border-solid border-[#b1b2f4] hover:shadow-[0_20px_50px_rgba(0,0,0,0.04)] hover:border-[#FF35D9] bg-white">
						<div class="icon flex items-end h-[65px]"><img src="images/lazy.svg" data-src="images/icon/icon_15.svg" alt="" class="lazy-img max-h-full"></div>
						<h4 class="mt-[25px] mb-5 2xl:text-[22px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px]">3- Coding</h4>
						<p class="md:min-h-[150px] lg:min-h-[150px] xl:min-h-[150px] mb-4 md:mb-0">Our deep understanding of project and program management has enabled the success of our clients.</p>
					</div> <!-- /.card-style-three -->
				</div>
				<div class="xl:w-4/12 lg:w-4/12 md:w-6/12 mt-10 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInUp" data-wow-delay="0.1s">
					<div class="card-style-three border transition-all duration-[0.3s] ease-[ease-in-out] w-full p-[42px_10px_30px_45px] lg:p-[30px_10px_25px_15px] md:p-[30px_10px_25px_15px] sm:p-[30px_10px_25px_15px] xsm:p-[30px_10px_25px_15px] rounded-[10px] border-solid border-[#b1b2f4] hover:shadow-[0_20px_50px_rgba(0,0,0,0.04)] hover:border-[#FF35D9] bg-white">
						<div class="icon flex items-end h-[65px]"><img src="images/lazy.svg" data-src="images/icon/icon_14.svg" alt="" class="lazy-img max-h-full"></div>
						<h4 class="mt-[25px] mb-5 2xl:text-[22px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px]">4- Ta-da!</h4>
						<p class="md:min-h-[150px] lg:min-h-[150px] xl:min-h-[150px] mb-4 md:mb-0">Our deep understanding of project and program management has enabled the success of our clients.</p>
					</div> <!-- /.card-style-three -->
				</div>
				<div class="xl:w-4/12 lg:w-4/12 md:w-6/12 mt-10 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInUp" data-wow-delay="0.2s">
					<div class="card-style-three border transition-all duration-[0.3s] ease-[ease-in-out] w-full p-[42px_10px_30px_45px] lg:p-[30px_10px_25px_15px] md:p-[30px_10px_25px_15px] sm:p-[30px_10px_25px_15px] xsm:p-[30px_10px_25px_15px] rounded-[10px] border-solid border-[#b1b2f4] hover:shadow-[0_20px_50px_rgba(0,0,0,0.04)] hover:border-[#FF35D9] bg-white">
						<div class="icon flex items-end h-[65px]"><img src="images/lazy.svg" data-src="images/icon/icon_17.svg" alt="" class="lazy-img max-h-full"></div>
						<h4 class="mt-[25px] mb-5 2xl:text-[22px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px]">5- The end</h4>
						<p class="md:min-h-[150px] lg:min-h-[150px] xl:min-h-[150px] mb-4 md:mb-0">Our deep understanding of project and program management has enabled the success of our clients.</p>
					</div> <!-- /.card-style-three -->
				</div>
			</div>
		</div>
		<div class="shapes shape-one rounded-[50%] absolute z-[-1] w-[126px] h-[126px] left-[-50px] animate-[jumpThree_3s_infinite_linear] top-[4%] bg-[#FFC961]"></div>
		<img src="images/lazy.svg" data-src="images/shape/shape_36.svg" alt="" class="lazy-img shapes shape-two absolute z-[-1] right-[3%] top-[30%]">
		<div class="shapes shape-three rounded-[50%] absolute z-[-1] w-[300px] h-[300px] opacity-70 right-[-150px] animate-[jumpTwo_3s_infinite_linear] bottom-0 bg-[#FF35D9]"></div>
	</div>

	<div class="feedback-section-ten relative xl:pt-40 lg:pt-32 pt-24 xl:mb-36 lg:mb-28 mb-24">
		<div class="container">
			<div class="relative">
				<div class="flex flex-wrap mx-[-12px]">
					<div class="xl:w-5/12 lg:w-5/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
						<div class="title-style-ten text-center xl:text-left lg:text-left wow fadeInLeft">
							<div class="sc-title text-[15px] tracking-[3px] uppercase text-(--prime-nine) pb-4 lg:text-[13px] lg:pb-2.5 md:text-[13px] md:pb-2.5 sm:text-[13px] sm:pb-2.5 xsm:text-[13px] xsm:pb-2.5">FEEDBACK</div>
							<h2 class="font-Recoleta font-normal text-black xl:text-6xl lg:text-5xl text-4xl">What <span class="relative">client <img class=" absolute z-[-1] left-0 bottom-[9px]" src="images/shape/shape_129.svg" alt=""></span> think about us.</h2>
						</div> <!-- /.title-style-ten -->
					</div>
				</div>

				<div class="slider-wrapper pt-[70px] lg:pt-10 md:pt-10 sm:pt-10 xsm:pt-10 wow fadeInUp w-[calc(1320px+25vw)] m-[0_-30px] 2xl:w-[calc(1320px+15vw)] lg:m-[0_-12px] lg:w-auto md:m-[0_-12px] md:w-auto sm:m-[0_-12px] sm:w-auto xsm:m-[0_-12px] xsm:w-auto">
					<div class="feedback_slider_ten">
						<div class="item m-[0_30px] lg:m-[0_12px] md:m-[0_12px] sm:m-[0_12px] xsm:m-[0_12px]">
							<div class="feedback-block-ten xl:p-[40px_50px_40px] lg:p-[25px_20px_30px] md:p-[25px_20px_30px] sm:p-[25px_20px_30px] xsm:p-[25px_20px_30px]" style="background:#FFED4E;">
								<a href="/" class="font-medium font-Gordita text-black xl:text-3xl lg:text-3xl text-2xl hover:underline">FLX Websites</a>
								<div class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em]  text-black ">Nick Sergeant</div>
								<p class=" text-black mt-10 lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-4 text-[28px] leading-[1.78em] text-xl">
									We've been using the team at Design2Tailwind for almost a
									year now and they have had an outsized impact on our
									ability to grow our web design agency. I absolutely cannot
									imagine not having them as a resource for us at this
									point. They're detailed oriented, efficient, and more than
									fair in their pricing. If you're looking for help turning
									your designs into HTML & Tailwind, you've found it!
								</p>
							</div> <!-- /.feedback-block-ten -->
						</div>
						<div class="item m-[0_30px] lg:m-[0_12px] md:m-[0_12px] sm:m-[0_12px] xsm:m-[0_12px]">
							<div class="feedback-block-ten xl:p-[40px_50px_40px] lg:p-[25px_20px_30px] md:p-[25px_20px_30px] sm:p-[25px_20px_30px] xsm:p-[25px_20px_30px]" style="background:#00FCFC;">
								<a href="/" class="font-medium font-Gordita text-black xl:text-3xl lg:text-3xl text-2xl hover:underline">Insight Media</a>
								<div class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em]  text-black ">Dries</div>
								<p class=" text-black mt-10 lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-4 text-[28px] leading-[1.78em] text-xl">
									Vivian and Daniela converted our website layout into a
									high-quality Tailwind project. Their code integrated
									perfectly into our Laravel project. We highly recommend
									their services!
								</p>
							</div> <!-- /.feedback-block-ten -->
						</div>
						<div class="item m-[0_30px] lg:m-[0_12px] md:m-[0_12px] sm:m-[0_12px] xsm:m-[0_12px]">
							<div class="feedback-block-ten xl:p-[40px_50px_40px] lg:p-[25px_20px_30px] md:p-[25px_20px_30px] sm:p-[25px_20px_30px] xsm:p-[25px_20px_30px]" style="background:#F27AFF;">
								<a href="/" class="font-medium font-Gordita text-black xl:text-3xl lg:text-3xl text-2xl hover:underline">FLX Websites</a>
								<div class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em]  text-black ">Nick Sergeant</div>
								<p class=" text-black mt-10 lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-4 text-[28px] leading-[1.78em] text-xl">
									We've been using the team at Design2Tailwind for almost a
									year now and they have had an outsized impact on our
									ability to grow our web design agency. I absolutely cannot
									imagine not having them as a resource for us at this
									point. They're detailed oriented, efficient, and more than
									fair in their pricing. If you're looking for help turning
									your designs into HTML & Tailwind, you've found it!
								</p>
							</div> <!-- /.feedback-block-ten -->
						</div>
						<div class="item m-[0_30px] lg:m-[0_12px] md:m-[0_12px] sm:m-[0_12px] xsm:m-[0_12px]">
							<div class="feedback-block-ten xl:p-[40px_50px_40px] lg:p-[25px_20px_30px] md:p-[25px_20px_30px] sm:p-[25px_20px_30px] xsm:p-[25px_20px_30px]" style="background:#52C1FF;">
								<a href="/" class="font-medium font-Gordita text-black xl:text-3xl lg:text-3xl text-2xl hover:underline">Insight Media</a>
								<div class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em]  text-black ">Dries</div>
								<p class=" text-black mt-10 lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-4 text-[28px] leading-[1.78em] text-xl">
									Vivian and Daniela converted our website layout into a
									high-quality Tailwind project. Their code integrated
									perfectly into our Laravel project. We highly recommend
									their services!
								</p>
							</div> <!-- /.feedback-block-ten -->
						</div>
					</div> <!-- /.feedback_slider_ten -->
				</div> <!-- /.slider-wrapper -->

				<ul class="slider-arrows slick-arrow-five flex justify-center mb-0 pl-0 list-none wow fadeInRight absolute border-2 border-solid border-black right-0 top-[90px] md:relative md:w-[114px] md:m-[60px_auto_0] md:top-0 sm:relative sm:w-[114px] sm:m-[60px_auto_0] sm:top-0 xsm:relative xsm:w-[114px] xsm:m-[60px_auto_0] xsm:top-0">
					<li class="prev_f5 slick-arrow text-center tran3s text-[24px] w-[55px] h-[50px] leading-[48px] text-black cursor-pointer hover:text-white first:border-r-black first:border-r first:border-solid last:border-l-black last:border-l last:border-solid hover:bg-black" style=""><i class="bi bi-arrow-left"></i></li>
					<li class="next_f5 slick-arrow text-center tran3s text-[24px] w-[55px] h-[50px] leading-[48px] text-black cursor-pointer hover:text-white first:border-r-black first:border-r first:border-solid last:border-l-black last:border-l last:border-solid hover:bg-black" style=""><i class="bi bi-arrow-right"></i></li>
				</ul>
			</div>
		</div>
		<img src="images/shape/shape_130.svg" alt="" class="lazy-img shapes shape-one absolute z-[-1] animate-[jumpTwo_5s_infinite_linear] left-[51%] top-[9%] md:hidden! sm:hidden! xsm:hidden!">
		<img src="images/shape/shape_131.svg" alt="" class="lazy-img shapes shape-two absolute z-[-1] left-0 bottom-0">
	</div>

	<div class="fancy-feature-twentyThree mb-20 sm:mb-24 xl:mb-32">
		<div class="container">
			<div class="text-center pb-5 wow fadeInUp">
				<h2 class="main-title font-normal font-Recoleta text-black xl:text-6xl lg:text-5xl text-4xl">Connected to the <span class="relative inline-block">Tools <img class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4" src="images/shape/shape_97.svg" alt=""></span> you love</h2>
			</div> <!-- /.title-style-seven -->

			<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-x-10 gap-y-8 sm:gap-y-10 lg:gap-y-14 xl:gap-y-14 pt-10 md:pt-14">
				<div class="flex gap-7 items-center justify-center sm:justify-start">
					<img src="images/logo/logo-figma.png" alt="" class="lazy-img md:h-12 h-10">
					<h4 class="text-xl font-medium font-gordita">Figma</h4>
				</div>
				<div class="flex gap-7 items-center justify-center sm:justify-start">
					<img src="images/logo/logo-adobe-xd.png" alt="" class="lazy-img md:h-12 h-10">
					<h4 class="text-xl font-medium font-gordita">Adobe XD</h4>
				</div>
				<div class="flex gap-7 items-center justify-center sm:justify-start">
					<img src="images/logo/logo-sketch.png" alt="" class="lazy-img md:h-12 h-10">
					<h4 class="text-xl font-medium font-gordita">Sketch</h4>
				</div>
				<div class="flex gap-7 items-center justify-center sm:justify-start">
					<img src="images/logo/logo-invision.jpeg" alt="" class="lazy-img md:h-12 h-10">
					<h4 class="text-xl font-medium font-gordita">invision</h4>
				</div>
				<div class="flex gap-7 items-center justify-center sm:justify-start">
					<img src="images/logo/logo-tailwind.svg" alt="" class="lazy-img h-8 md:h-10">
					<h4 class="text-xl font-medium font-gordita">Tailwind</h4>
				</div>
				<div class="flex gap-7 items-center justify-center sm:justify-start">
					<img src="images/logo/logo-html.svg" alt="" class="lazy-img md:h-12 h-10">
					<h4 class="text-xl font-medium font-gordita">HTML</h4>
				</div>
				<div class="flex gap-7 items-center justify-center sm:justify-start">
					<img src="images/logo/logo-css.png" alt="" class="lazy-img md:h-12 h-10">
					<h4 class="text-xl font-medium font-gordita">CSS</h4>
				</div>
				<div class="flex gap-7 items-center justify-center sm:justify-start">
					<img src="images/logo/logo-js.svg" alt="" class="lazy-img md:h-12 h-10">
					<h4 class="text-xl font-medium font-gordita">JavaScript</h4>
				</div>
				<div class="flex gap-7 items-center justify-center sm:justify-start">
					<img src="images/logo/logo-react.png" alt="" class="lazy-img md:h-12 h-10">
					<h4 class="text-xl font-medium font-gordita">React</h4>
				</div>
				<div class="flex gap-7 items-center justify-center sm:justify-start">
					<img src="images/logo/logo-vue.png" alt="" class="lazy-img md:h-12 h-10">
					<h4 class="text-xl font-medium font-gordita">Vue</h4>
				</div>
				<div class="flex gap-7 items-center justify-center sm:justify-start">
					<img src="images/logo/logo-astro.svg" alt="" class="lazy-img md:h-12 h-10">
					<h4 class="text-xl font-medium font-gordita">Astro</h4>
				</div>
				<div class="flex gap-7 items-center justify-center sm:justify-start">
					<img src="images/logo/logo-alpine.svg" alt="" class="lazy-img h-8 md:h-10">
					<h4 class="text-xl font-medium font-gordita">Alpine</h4>
				</div>
				<div class="flex gap-7 items-center justify-center sm:justify-start">
					<img src="images/logo/logo-statamic.svg" alt="" class="lazy-img md:h-12 h-10">
					<h4 class="text-xl font-medium font-gordita">Statamic</h4>
				</div>
				<div class="flex gap-7 items-center justify-center sm:justify-start">
					<img src="images/logo/logo-shopify.svg" alt="" class="lazy-img md:h-12 h-10">
					<h4 class="text-xl font-medium font-gordita">Shopify</h4>
				</div>
			</div>
		</div> <!-- /.container -->
	</div>

	<div class="fancy-short-banner-thirteen py-[170px] lg:py-20 md:py-20 sm:py-20 xsm:py-20 bg-[#F6F9FB] wow fadeInUp">
		<div class="container">
			<div class="bg-wrapper z-2 bg-white relative px-3 py-0 rounded-[10px]">
				<div class="flex flex-wrap mx-[-12px]">
					<div class="xl:w-11/12 w-full flex-[0_0_auto] px-[12px] max-w-full m-auto">
						<div class="flex flex-wrap mx-[-12px] items-center">
							<div class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full ml-auto! xl:order-last lg:order-last">
								<div class="text-wrapper pl-20 pr-0 pt-[60px] pb-20 border-l-[#E9E9E9] border-l border-solid md:p-[50px_0] md:border-l-0 sm:p-[50px_0] sm:border-l-0 xsm:p-[50px_0] xsm:border-l-0">
									<img src="images/lazy.svg" data-src="images/icon/icon_114.svg" alt="" class="lazy-img mb-[30px]">
									<div class="title-style-one">
										<h2 class="font-Recoleta font-normal text-black xl:text-6xl/[66px] lg:text-5xl/[56px] text-4xl">Let’s talk with expereince advisors.</h2>
									</div>
									<p class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] text-black pt-5 m-0!">eiusmod tempor incididunt. Ut enim mim veniam, quis nostrud elit lorem dolor.</p>
								</div>
							</div>
							<div class="xl:w-5/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-first lg:order-first">
								<div class="form-style-two md:mb-10 sm:mb-10 xsm:mb-10 ">
									<form action="inc/contact.php" id="contact-form" data-toggle="validator">
										<div class="messages"></div>
										<div class="flex flex-wrap mx-[-12px] controls">
											<div class="w-full flex-[0_0_auto] px-[12px] max-w-full">
												<div class="input-group-meta relative form-group mb-5">
													<input class=" h-[60px] p-[0_20px] w-full max-w-full text-black text-[15px] rounded-[5px] border-2 border-solid border-[rgba(221,221,221,0.8)]" type="text" placeholder="Your name*" name="name" required="required" data-error="Name is required.">
													<div class="help-block with-errors absolute bottom-[-17px] text-[13px] leading-5 text-[#ff4d44] left-0"></div>
												</div>
											</div>

											<div class="w-full flex-[0_0_auto] px-[12px] max-w-full">
												<div class="input-group-meta relative form-group mb-5">
													<input class=" h-[60px] p-[0_20px] w-full max-w-full text-black text-[15px] rounded-[5px] border-2 border-solid border-[rgba(221,221,221,0.8)]" type="email" placeholder="Email*" name="email" required="required" data-error="Valid email is required.">
													<div class="help-block with-errors absolute bottom-[-17px] text-[13px] leading-5 text-[#ff4d44] left-0"></div>
												</div>
											</div>
											<div class="w-full flex-[0_0_auto] px-[12px] max-w-full">
												<div class="input-group-meta relative form-group mb-[15px] ">
													<textarea class=" h-[120px] max-h-[120px] px-5 py-[15px] w-full max-w-full text-black text-[15px] rounded-[5px] border-2 border-solid border-[rgba(221,221,221,0.8)]" placeholder="Your message*" name="message" required="required" data-error="Please,leave us a message."></textarea>
													<div class="help-block with-errors absolute bottom-[-17px] text-[13px] leading-5 text-[#ff4d44] left-0"></div>
												</div>
											</div>
											<div class="w-full flex-[0_0_auto] px-[12px] max-w-full"><button class="btn-twentyTwo w-full font-medium tran3s uppercase text-[14px] leading-[55px] text-white tracking-[0.88px] px-[42px] py-0 rounded-[7px] hover:bg-(--prime-ten) bg-[#a056fa]">SEND MESSAGE</button></div>
										</div>
										<div class="text-[16px] text-center mt-[25px] "><span class="opacity-75">Been here before?</span> <a href="#" class=" text-black font-medium hover:text-[#0a58ca]">Check your query</a></div>
									</form>
								</div> <!-- /.form-style-two -->
							</div>
						</div>
					</div>
				</div>
				<div class="shapes shape-text font-medium text-[20px] text-black text-center absolute z-[-1] leading-6 top-[-62px] rotate-[-10deg] lg:rotate-20 xl:rotate-[-15deg] left-10 lg:left-5 xl:-left-10">Fill the <br>form</div>
				<img src="images/lazy.svg" data-src="images/shape/shape_90.svg" alt="" class="lazy-img shapes shape-one absolute z-1 rotate-100 lg:rotate-70 xl:rotate-0 left-20 lg:-left-2 xl:left-1 -top-2.5 block scale-y-[-1] lg:scale-100 xl:scale-100">
				<img src="images/lazy.svg" data-src="images/shape/shape_91.svg" alt="" class="lazy-img shapes shape-two absolute z-[-1] left-[-60px] bottom-[-60px]">
			</div> <!-- /.bg-wrapper -->
		</div>
	</div>

	<div class="fancy-feature-thirtyThree mt-16 sm:mt-20 md:mt-20 lg:mt-24 xl:mt-32 mb-20 sm:mb-24 md:mb-24 lg:mb-28 xl:mb-32 relative z-30">
		<div class="container">
			<div class="title-style-ten text-center wow fadeInUp">
				<div class="sc-title text-[15px] tracking-[3px] uppercase text-(--prime-nine) pb-4 lg:text-[13px] lg:pb-2.5 md:text-[13px] md:pb-2.5 sm:text-[13px] sm:pb-2.5 xsm:text-[13px] xsm:pb-2.5">FAQ</div>
				<h2 class="font-Recoleta font-normal text-black xl:text-6xl lg:text-5xl text-4xl">Questions & <span class="relative">Answers <img class=" absolute z-[-1] left-0 bottom-[9px]" src="images/shape/shape_132.svg" alt=""></span></h2>
			</div> <!-- /.title-style-ten -->

				<div class="bg-wrapper relative p-[10px_50px] lg:p-[10px] md:p-[10px] sm:p-[10px] xsm:p-[10px] bg-[#F6F6F6] mt-20 lg:mt-10 md:mt-10 sm:mt-10 xsm:mt-10 wow fadeInUp">
					<div class="accordion accordion-style-four" id="accordionOne">
						<div class="accordion-item rounded-none border-0  bg-transparent ">
							<div class="accordion-header" id="headingOne">
								 <button class="accordion-button collapsed text-[24px] font-medium text-black shadow-none transition-all duration-[0.2s] ease-[ease-in-out] pl-10 pr-[45px] py-[30px] border-b-[rgba(0,0,0,0.08)] border-b border-solid bg-transparent outline-0 after:content-['+'] after:text-[24px] after:w-[30px] after:h-[30px] after:text-center after:font-normal after:leading-[30px] after:bg-white after:ml-auto relative flex items-center w-full text-left rounded-none border-0 lg:text-[18px] lg:p-[18px_15px] md:text-[18px] md:p-[18px_15px] sm:text-[18px] sm:p-[18px_15px] xsm:text-[18px] leading-[1.67em] xsm:p-[18px_15px]" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
									<span class=" mr-5">01.</span> What are our prices?
								 </button>
							</div>
							<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionOne">
								<div class="accordion-body text-[rgba(255,255,255,0.8)] p-[0_100px_40px_103px] bg-[#0F0F0F] lg:p-[0_45px_25px_60px] md:p-[0_45px_25px_60px] sm:p-[0_45px_25px_60px] xsm:p-[0_45px_25px_60px]">
									<p class=" text-[18px] leading-[1.67em] m-0">Our pricing starts at $250 for the first page and $120 per additional page after and will vary depending on the complexity of the design and the amount of pages or "screens" we need to code.
									</p>
								</div>
							</div>
						 </div>
						 <div class="accordion-item rounded-none border-0  bg-transparent ">
							<div class="accordion-header" id="headingTwo">
								 <button class="accordion-button collapsed text-[24px] font-medium text-black shadow-none transition-all duration-[0.2s] ease-[ease-in-out] pl-10 pr-[45px] py-[30px] border-b-[rgba(0,0,0,0.08)] border-b border-solid bg-transparent outline-0 after:content-['+'] after:text-[24px] after:w-[30px] after:h-[30px] after:text-center after:font-normal after:leading-[30px] after:bg-white after:ml-auto relative flex items-center w-full text-left rounded-none border-0 lg:text-[18px] lg:p-[18px_15px] md:text-[18px] md:p-[18px_15px] sm:text-[18px] sm:p-[18px_15px] xsm:text-[18px] leading-[1.67em] xsm:p-[18px_15px]" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<span class=" mr-5">02.</span> How do you find different criteria in your process?
								 </button>
							</div>
							<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionOne">
								 <div class="accordion-body text-[rgba(255,255,255,0.8)] p-[0_100px_40px_103px] bg-[#0F0F0F] lg:p-[0_45px_25px_60px] md:p-[0_45px_25px_60px] sm:p-[0_45px_25px_60px] xsm:p-[0_45px_25px_60px]">
									<p class=" text-[18px] leading-[1.67em] m-0">What are your turnaround times on projects?

										The best way to get an ETA is to fill out the form above and we'll get back to you with a quote and ETA ASAP.</p>
								</div>
							</div>
						 </div>
						 <div class="accordion-item rounded-none border-0  bg-transparent ">
							<div class="accordion-header" id="headingThree">
									<button class="accordion-button text-[24px] font-medium text-black shadow-none transition-all duration-[0.2s] ease-[ease-in-out] pl-10 pr-[45px] py-[30px] border-b-[rgba(0,0,0,0.08)] border-b border-solid bg-transparent outline-0 after:content-['+'] after:text-[24px] after:w-[30px] after:h-[30px] after:text-center after:font-normal after:leading-[30px] after:bg-white after:ml-auto relative flex items-center w-full text-left rounded-none border-0 lg:text-[18px] lg:p-[18px_15px] md:text-[18px] md:p-[18px_15px] sm:text-[18px] sm:p-[18px_15px] xsm:text-[18px] leading-[1.67em] xsm:p-[18px_15px]" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
									<span class=" mr-5">03.</span> What design file formats can you work with?
								 </button>
							</div>
							<div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionOne">
								<div class="accordion-body text-[rgba(255,255,255,0.8)] p-[0_100px_40px_103px] bg-[#0F0F0F] lg:p-[0_45px_25px_60px] md:p-[0_45px_25px_60px] sm:p-[0_45px_25px_60px] xsm:p-[0_45px_25px_60px]">
									<p class=" text-[18px] leading-[1.67em] m-0">
										We work with Photoshop (PSD), Figma, Adobe XD and Sketch designs
										and with design hand-off tools like Invision and Zeplin.
									</p>
								</div>
							</div>
						</div>
						<div class="accordion-item rounded-none border-0  bg-transparent ">
							<div class="accordion-header" id="headingFour">
									<button class="accordion-button collapsed text-[24px] font-medium text-black shadow-none transition-all duration-[0.2s] ease-[ease-in-out] pl-10 pr-[45px] py-[30px] border-b-[rgba(0,0,0,0.08)] border-b border-solid bg-transparent outline-0 after:content-['+'] after:text-[24px] after:w-[30px] after:h-[30px] after:text-center after:font-normal after:leading-[30px] after:bg-white after:ml-auto relative flex items-center w-full text-left rounded-none border-0 lg:text-[18px] lg:p-[18px_15px] md:text-[18px] md:p-[18px_15px] sm:text-[18px] sm:p-[18px_15px] xsm:text-[18px] leading-[1.67em] xsm:p-[18px_15px]" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
									<span class=" mr-5">04.</span> What browsers do you support?
								 </button>
							</div>
							<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionOne">
								<div class="accordion-body text-[rgba(255,255,255,0.8)] p-[0_100px_40px_103px] bg-[#0F0F0F] lg:p-[0_45px_25px_60px] md:p-[0_45px_25px_60px] sm:p-[0_45px_25px_60px] xsm:p-[0_45px_25px_60px]">
									<p class=" text-[18px] leading-[1.67em] m-0">
										We currently support the latest versions of Google Chrome, Safari,
										Firefox, and Edge.
									</p>
								</div>
							</div>
						</div>
						<div class="accordion-item rounded-none border-0  bg-transparent ">
							<div class="accordion-header" id="headingFive">
									<button class="accordion-button collapsed text-[24px] font-medium text-black shadow-none transition-all duration-[0.2s] ease-[ease-in-out] pl-10 pr-[45px] py-[30px] bg-transparent outline-0 after:content-['+'] after:text-[24px] after:w-[30px] after:h-[30px] after:text-center after:font-normal after:leading-[30px] after:bg-white after:ml-auto relative flex items-center w-full text-left rounded-none lg:text-[18px] lg:p-[18px_15px] md:text-[18px] md:p-[18px_15px] sm:text-[18px] sm:p-[18px_15px] xsm:text-[18px] leading-[1.67em] xsm:p-[18px_15px]" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									<span class=" mr-5">05.</span> Do you offer revisions?
								 </button>
							</div>
							<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionOne">
								<div class="accordion-body text-[rgba(255,255,255,0.8)] p-[0_100px_40px_103px] bg-[#0F0F0F] lg:p-[0_45px_25px_60px] md:p-[0_45px_25px_60px] sm:p-[0_45px_25px_60px] xsm:p-[0_45px_25px_60px]">
									<p class=" text-[18px] leading-[1.67em] m-0">
										We offer 3 round of revisions. Any bug fixes and small changes are
										free. Any other change will be billed separately.
									</p>
								</div>
							</div>
						</div>
						<div class="accordion-item rounded-none border-0  bg-transparent ">
							<div class="accordion-header" id="headingFive">
									<button class="accordion-button collapsed text-[24px] font-medium text-black shadow-none transition-all duration-[0.2s] ease-[ease-in-out] pl-10 pr-[45px] py-[30px] bg-transparent outline-0 after:content-['+'] after:text-[24px] after:w-[30px] after:h-[30px] after:text-center after:font-normal after:leading-[30px] after:bg-white after:ml-auto relative flex items-center w-full text-left rounded-none lg:text-[18px] lg:p-[18px_15px] md:text-[18px] md:p-[18px_15px] sm:text-[18px] sm:p-[18px_15px] xsm:text-[18px] leading-[1.67em] xsm:p-[18px_15px]" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									<span class=" mr-5">06.</span> Do you also do React/Vue/Svelte work?
								 </button>
							</div>
							<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionOne">
								<div class="accordion-body text-[rgba(255,255,255,0.8)] p-[0_100px_40px_103px] bg-[#0F0F0F] lg:p-[0_45px_25px_60px] md:p-[0_45px_25px_60px] sm:p-[0_45px_25px_60px] xsm:p-[0_45px_25px_60px]">
									<p class=" text-[18px] leading-[1.67em] m-0">
										Yes, we can do React/Vue/Svelte work as well for an additional fee
										per page but keep in mind we keep the logic to a minimum since our
										main focus is on the markup, not the business logic of the
										components.
									</p>
								</div>
							</div>
						</div>
					</div>
					<img src="images/shape/shape_133.svg" alt="" class="lazy-img shapes shape-one absolute z-[-1] -right-16 -top-16">
				</div> <!-- /.bg-wrapper -->
		</div>
	</div>


	<Footer />
</Layout>
