---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import WhyUs from '@components/WhyUs.astro';
import OurProcess from '@components/OurProcess.astro';
import LogoCloud from '@components/LogoCloud.astro';
import CTA from '@components/CTA.astro';
import FAQ from '@components/FAQ.astro';
import Testimonials from '@components/Testimonials.astro';
---

<Layout title='Astro'>
	<Header />

	<div class='hero-banner-two relative pt-36 pb-12 md:pb-16 lg:pt-44 lg:pb-20 xl:pt-52 xl:pb-24'>
		<div class='container'>
			<div class='flex flex-wrap'>
				<div class='wow fadeInUp mx-auto w-full text-center lg:w-5/6 xl:w-2/3'>
					<h1
						class='hero-heading font-Recoleta xsm:text-4xl xsm:leading-[1.2em] relative text-[82px] leading-[1.09em] font-normal sm:text-[40px] sm:leading-[1.2em] md:text-[40px] md:leading-[1.2em] lg:text-[58px] 2xl:text-[70px]'>
						<img
							src='images/lazy.svg'
							data-src='images/shape/shape_25.svg'
							alt=''
							class='lazy-img shapes line-shape xsm:hidden! absolute -bottom-1 left-28 z-[-1] sm:hidden! md:hidden! lg:w-36 xl:left-40 xl:w-36'
						/>For <span
							class="relative z-1 inline-block before:absolute before:top-2/4 before:left-[31%] before:z-[-1] before:h-[81%] before:w-[73%] before:-translate-y-2/4 before:bg-[#FFEBE5] before:content-['']"
							>Agencies</span>
					</h1>
					<p
						class='xsm:pt-[10px] text-base leading-[1.67em] sm:pt-[10px] md:pt-[10px] lg:pt-[10px] lg:text-[19px] xl:pt-10 xl:text-xl'>
						Line by line, handcrafted by us. We work with PSD, Figma, Adobe XD and Sketch designs and with design
						hand-off tools like Invision and Zeplin.Line by line, handcrafted by us. We work with PSD, Figma, Adobe XD
						and Sketch designs and with design hand-off tools like Invision and Zeplin.Line by line, handcrafted by us.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class='partner-section-six wow fadeInUp mb-12 md:mb-16 lg:mb-20 xl:mb-28'>
		<div class='container'>
			<div
				class='top-header xsm:pb-[45px] border-b-2 border-solid border-b-black p-[0_0_70px] sm:pb-[45px] md:pb-[45px] lg:pb-[45px]'>
				<div class='flex items-center justify-between'>
					<span class='lines xsm:w-[33%] inline-block h-0.5 w-full grow bg-black sm:w-[33%] md:w-[33%]'></span>
					<div
						class='title xsm:text-[14px] w-full px-2.5 py-0 text-center text-[16px] tracking-[2px] text-black uppercase sm:text-[14px] md:text-[14px] lg:text-[14px]'>
						Agencies we've worked with
					</div>
					<span class='lines xsm:w-[33%] inline-block h-0.5 w-full grow bg-black sm:w-[33%] md:w-[33%]'></span>
				</div>

				<div class='partner_slider_one xsm:mt-10 mt-[65px] sm:mt-10 md:mt-10 lg:mt-10'>
					<div class='item m-[0_12px]'>
						<div class='icon flex h-[50px] items-center justify-center'>
							<img
								src='images/logo/Plogo-37.png'
								alt=''
							/>
						</div>
					</div>
					<div class='item m-[0_12px]'>
						<div class='icon flex h-[50px] items-center justify-center'>
							<img
								src='images/logo/Plogo-38.png'
								alt=''
							/>
						</div>
					</div>
					<div class='item m-[0_12px]'>
						<div class='icon flex h-[50px] items-center justify-center'>
							<img
								src='images/logo/Plogo-39.png'
								alt=''
							/>
						</div>
					</div>
					<div class='item m-[0_12px]'>
						<div class='icon flex h-[50px] items-center justify-center'>
							<img
								src='images/logo/Plogo-40.png'
								alt=''
							/>
						</div>
					</div>
					<div class='item m-[0_12px]'>
						<div class='icon flex h-[50px] items-center justify-center'>
							<img
								src='images/logo/Plogo-41.png'
								alt=''
							/>
						</div>
					</div>
					<div class='item m-[0_12px]'>
						<div class='icon flex h-[50px] items-center justify-center'>
							<img
								src='images/logo/Plogo-39.png'
								alt=''
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<WhyUs />

	<OurProcess titleLine2='our all features' />

	<Testimonials />

	<LogoCloud />

	<CTA />

	<FAQ />

	<Footer />
</Layout>
