---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import WhyUs from '@components/WhyUs.astro';
import Advantages from '@components/Advantages.astro';
import OurProcess from '@components/OurProcess.astro';
import LogoCloud from '@components/LogoCloud.astro';
import CTA from '@components/CTA.astro';
import FAQ from '@components/FAQ.astro';
import Testimonials from '@components/Testimonials.astro';
import OurBlog from '@components/OurBlog.astro';
---

<Layout title='Astro'>
	<Header />

	<div class='hero-banner-two relative pt-36 pb-16 md:pb-20 lg:pt-44 lg:pb-24 xl:pt-52 xl:pb-28'>
		<img
			src='images/lazy.svg'
			data-src='images/shape/shape_26.svg'
			alt=''
			class='lazy-img shapes shape-left absolute top-[40%] left-[8%] z-[-1] hidden w-[11.9%] max-w-[248px] sm:block'
		/>
		<img
			src='images/lazy.svg'
			data-src='images/shape/shape_27.svg'
			alt=''
			class='lazy-img shapes shape-right absolute top-[39%] right-[9%] z-[-1] hidden w-[9.1%] max-w-[193px] sm:block'
		/>
		<div class='container'>
			<div class='flex flex-wrap'>
				<div
					class='wow fadeInUp m-auto w-full max-w-full flex-[0_0_auto] px-[12px] text-center md:w-9/12 lg:w-8/12 xl:w-8/12'>
					<h1
						class='hero-heading font-Recoleta xsm:text-4xl xsm:leading-[1.2em] relative text-[82px] leading-[1.09em] font-normal sm:text-[40px] sm:leading-[1.2em] md:text-[40px] md:leading-[1.2em] lg:text-[58px] 2xl:text-[70px]'>
						<img
							src='images/lazy.svg'
							data-src='images/shape/shape_25.svg'
							alt=''
							class='lazy-img shapes line-shape xsm:hidden! absolute top-[45%] left-[3%] z-[-1] sm:hidden! md:hidden! lg:w-40 xl:w-auto'
						/>We convert your <span
							class="relative z-1 inline-block before:absolute before:top-2/4 before:left-[31%] before:z-[-1] before:h-[81%] before:w-[73%] before:-translate-y-2/4 before:bg-[#FFEBE5] before:content-['']"
							>design</span
						> to Tailwind CSS.
					</h1>
					<p
						class='xsm:pt-[10px] mb-[30px] pt-5 text-base leading-[1.67em] sm:pt-[10px] md:pt-[10px] lg:mb-[40px] lg:pt-[10px] lg:text-lg lg:text-[19px] xl:mb-[50px] xl:text-xl'>
						Line by line, handcrafted by us.
						<br />
						We work with PSD, Figma, Adobe XD and Sketch designs and with design hand-off tools like Invision and Zeplin.
					</p>
					<div
						class='xs:flex-row flex flex-col items-center justify-center gap-3 sm:flex-row sm:gap-6 md:flex-row md:gap-6 lg:flex-row lg:gap-6 xl:flex-row xl:gap-6'>
						<a
							href='/#quote'
							class='tran3s btn-three xsm:p-[0_35px] xsm:leading-[48px] xsm:text-[15px] relative rounded-[28px] bg-[#BC46E2] p-[0_40px] text-[17px] leading-[52px] font-medium text-white transition-all duration-[0.3s] ease-[ease-in-out] hover:bg-[#4e257e] sm:p-[0_35px] sm:text-[15px] sm:leading-[48px] md:p-[0_35px] md:text-[15px] md:leading-[48px] lg:text-[15px]'
							>Get a Quote</a
						>
						<a
							href='/#process'
							class='tran3s btn-three xsm:p-[0_35px] xsm:leading-[48px] xsm:text-[15px] relative rounded-[28px] border border-[#4e257e] p-[0_40px] text-[17px] leading-[52px] font-medium text-[#4e257e] transition-all duration-[0.3s] ease-[ease-in-out] hover:bg-[#4e257e] hover:text-white sm:p-[0_35px] sm:text-[15px] sm:leading-[48px] md:p-[0_35px] md:text-[15px] md:leading-[48px] lg:text-[15px]'
							>Learn More</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>

	<WhyUs />

	<Advantages />

	<OurProcess id='process' />

	<Testimonials />

	<div class='fancy-feature-thirtySeven mb-24 sm:mb-28 lg:mb-36 xl:mb-40'>
		<div class='container'>
			<div class='mx-[-12px] flex flex-wrap items-center'>
				<div class='w-full max-w-full flex-[0_0_auto] px-[12px] lg:w-6/12 xl:w-6/12'>
					<div class='block-style-four xxl:pr-12! xxl:ml-6 xsm:mb-[70px] wow fadeInLeft sm:mb-[70px] md:mb-[70px]'>
						<div class='title-style-six'>
							<div
								class='sc-title-two xsm:text-[13px] pb-4 text-[15px] tracking-[2px] text-(--prime-ten) uppercase sm:text-[13px] md:text-[13px]'>
								WHY US
							</div>
							<h2 class='font-Recoleta text-4xl font-normal text-black lg:text-5xl xl:text-6xl'>
								Here's what you gonna get.
							</h2>
						</div>
						<!-- /.title-style-ten -->
						<p
							class='xsm:pt-[10px] xsm:pb-5 mb-0 pt-5 pb-[30px] text-black sm:pt-[10px] sm:pb-5 md:pt-[10px] md:pb-5 lg:pt-[10px] lg:pb-5 lg:text-xl/[30px] xl:text-xl/[30px]'>
							Turn your business into a sales machine today with lorem Things go wrong have questions.
						</p>
						<ul class='mb-0 list-item list-none pl-0'>
							<li
								class='relative mb-5 pl-10 text-black before:absolute before:top-0 before:left-0 before:content-[url(../images/icon/icon_93.svg)] lg:text-xl/[30px] lg:text-[18px] xl:text-xl/[30px]'>
								Very little custom CSS as we always try to keep everything inside the Tailwind config.
							</li>
							<li
								class='relative mb-5 pl-10 text-black before:absolute before:top-0 before:left-0 before:content-[url(../images/icon/icon_93.svg)] lg:text-xl/[30px] lg:text-[18px] xl:text-xl/[30px]'>
								HTML markup that is responsive and works on all modern browsers (Chrome, Safari, Firefox, iOS Safari,
								Chrome Android)
							</li>
							<li
								class='relative mb-5 pl-10 text-black before:absolute before:top-0 before:left-0 before:content-[url(../images/icon/icon_93.svg)] lg:text-xl/[30px] lg:text-[18px] xl:text-xl/[30px]'>
								A zip file with all the files and a package.json that will run your project locally with just 1 command.
							</li>
						</ul>
					</div>
				</div>
				<div class='xxl:w-5/12 ml-auto! w-full max-w-full flex-[0_0_auto] px-[12px] lg:w-6/12 xl:w-6/12'>
					<div class='mx-[-12px] flex flex-wrap items-end'>
						<div class='wow fadeInUp max-w-full flex-[0_0_auto] px-[12px] sm:w-4/12 md:w-5/12 lg:w-5/12 xl:w-5/12'>
							<img
								src='images/lazy.svg'
								data-src='images/shape/shape_136.svg'
								alt=''
								class='lazy-img xsm:hidden! inline-block'
							/>
						</div>
						<div
							class='wow fadeInDown w-full max-w-full flex-[0_0_auto] px-[12px] sm:w-8/12 md:w-7/12 lg:w-7/12 xl:w-7/12'>
							<div
								class='block-wrapper block-one xsm:p-[35px_15px_20px] rounded-[45px_0_45px_0] border-[1.5px] border-solid border-[#FFAE10] bg-[#FFF3C9] pt-[35px] pr-[15px] pb-[30px] pl-[35px]'>
								<h3
									class='xsm:text-[26px] xsm:leading-[1.16em] mb-3.5 text-[36px] leading-10 sm:text-[26px] sm:leading-[1.16em] md:text-[26px] md:leading-[1.16em] lg:text-[26px] lg:leading-[1.16em]'
									style='color:#FFAE10;'>
									Friendly
								</h3>
								<p
									class='xsm:text-[16px] xsm:leading-[30px] text-[18px] leading-[29px] text-[rgba(0,0,0,0.7)] sm:text-[16px] sm:leading-[30px] md:text-[16px] md:leading-[30px] lg:text-[16px] lg:leading-[30px]'>
									Customers trust us & have bought insurance.
								</p>
							</div>
							<!-- /.block-wrapper -->
						</div>
					</div>
					<div class='xxl:mx-[-24px] mx-[-12px] flex flex-wrap'>
						<div
							class='wow fadeInDown w-full max-w-full flex-[0_0_auto] px-[12px] sm:w-7/12 md:w-7/12 lg:w-7/12 xl:w-7/12'>
							<div
								class='block-wrapper block-two xsm:p-[35px_15px_20px] relative mt-[50px] rounded-[45px_0_45px_0] border-[1.5px] border-solid border-[#9650EF] bg-[rgba(162,91,251,0.2)] pt-[62px] pr-[15px] pb-[50px] pl-[35px] sm:mt-[30px]'>
								<h3
									class='xsm:text-[26px] xsm:leading-[1.16em] mb-3.5 text-[36px] leading-10 sm:text-[26px] sm:leading-[1.16em] md:text-[26px] md:leading-[1.16em] lg:text-[26px] lg:leading-[1.16em]'
									style='color:#9650EF;'>
									300+ <br /><span class='text-[0.77em]'>Projects Delivered</span>
								</h3>
								<p
									class='xsm:text-[16px] xsm:leading-[30px] text-[18px] leading-[29px] text-[rgba(0,0,0,0.7)] sm:text-[16px] sm:leading-[30px] md:text-[16px] md:leading-[30px] lg:text-[16px] lg:leading-[30px]'>
									Partnered with us so that you can compare easily & transparently
								</p>
								<img
									src='images/lazy.svg'
									data-src='images/shape/shape_138.svg'
									alt=''
									class='lazy-img shapes shape-one absolute bottom-[-45px] left-[-45px] z-[-1]'
								/>
							</div>
							<!-- /.block-wrapper -->
						</div>
						<div
							class='wow fadeInUp w-full max-w-full flex-[0_0_auto] px-[12px] sm:w-5/12 md:w-5/12 lg:w-5/12 xl:w-5/12'>
							<div
								class='block-wrapper block-three xsm:p-[35px_15px_20px] mt-[50px] rounded-[0_30px_0_30px] border-[1.5px] border-solid border-[#00BDE5] bg-[rgba(0,209,255,0.2)] pt-[22px] pr-[15px] pb-[15px] pl-[30px] sm:mt-[30px]'>
								<h3
									class='xsm:text-[26px] xsm:leading-[1.16em] mb-3.5 text-[36px] leading-10 sm:text-[26px] sm:leading-[1.16em] md:text-[26px] md:leading-[1.16em] lg:text-[26px] lg:leading-[1.16em]'
									style='color:#00BDE6;'>
									<span class='text-[0.77em]'>Quality</span>
								</h3>
								<p
									class='xsm:text-[16px] xsm:leading-[30px] text-[18px] leading-[29px] text-[rgba(0,0,0,0.7)] sm:text-[16px] sm:leading-[30px] md:text-[16px] md:leading-[30px] lg:text-[16px] lg:leading-[30px]'>
									Quality & fast support
								</p>
							</div>
							<!-- /.block-wrapper -->
							<img
								src='images/lazy.svg'
								data-src='images/shape/shape_137.svg'
								alt=''
								class='lazy-img xsm:hidden! mt-[30px] mr-auto! ml-auto! inline-block'
							/>
						</div>
					</div>
				</div>
			</div>
			<div class='w-full pt-16 sm:pt-20 md:pt-20 lg:pt-28 xl:w-5/6 xl:pt-28'>
				<h3 class='pb-5 text-2xl font-medium text-black lg:text-3xl xl:text-3xl'>
					Modern React code that’s clean, scalable, and production-ready
				</h3>
				<p class='text-black lg:text-xl/[32px] xl:text-xl/[32px]'>
					We build modern, component-based React front-ends using tools like TypeScript, Tailwind, and Storybook. Code
					is structured for clarity and maintainability—whether you’re launching a new app, building out marketing
					pages, or extending an existing system.
				</p>
				<p class='text-black lg:text-xl/[32px] xl:text-xl/[32px]'>
					Every line is thoughtfully written and organized to support collaboration, scalability, and long-term
					performance. This is React development done with purpose—built to support your team now and down the line.
				</p>
			</div>
			<div class='w-full pt-7 lg:pt-10 xl:w-5/6 xl:pt-10'>
				<h3 class='pb-5 text-2xl font-medium text-black lg:text-3xl xl:text-3xl'>
					Modern React code that’s clean, scalable, and production-ready
				</h3>
				<p class='text-black lg:text-xl/[32px] xl:text-xl/[32px]'>
					We build modern, component-based React front-ends using tools like TypeScript, Tailwind, and Storybook. Code
					is structured for clarity and maintainability—whether you’re launching a new app, building out marketing
					pages, or extending an existing system.
				</p>
				<p class='text-black lg:text-xl/[32px] xl:text-xl/[32px]'>
					Every line is thoughtfully written and organized to support collaboration, scalability, and long-term
					performance. This is React development done with purpose—built to support your team now and down the line.
				</p>
			</div>
		</div>
		<!-- /.container -->
	</div>

	<LogoCloud />

	<CTA sectionId='quote' />

	<FAQ />

	<OurBlog />

	<Footer />
</Layout>
