<div class="footer-style-two theme-basic-footer p-[0_10%] 2xl:p-[0_4%] lg:p-[0_12px] md:p-[0_12px] sm:p-[0_12px] xsm:p-[0_12px]">
	<div class="top-footer relative border border-neutral-200 z-[1] p-[70px_12px_10px] md:p-[70px_12px_0] sm:p-[70px_12px_0] xsm:p-[70px_12px_0] rounded-[20px] border-solid">
		<div class="container">
			<div class="inner-wrapper m-auto max-w-[1170px]">
				<div class="flex flex-wrap mx-[-12px]">
					<div class="xl:w-3/12 lg:w-3/12 w-full flex-[0_0_auto] px-[12px] max-w-full footer-intro mb-10 ">
						<div class="logo"><a href="index.html"><img src="images/logo/logo_01.png" alt="" width="95"></a></div>
						<a href="#" class="email tran3s text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mt-[35px] mb-[15px] md:mt-[10px] sm:mt-[10px] xsm:mt-[10px] hover:underline hover:text-black">januinc@company.com</a> <br>
						<a href="#" class="mobile tran3s text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] font-medium text-[color:var(--prime-two)] hover:underline">+757 699-4478</a>
					</div>
					<div class="xl:w-3/12 lg:w-3/12 md:w-4/12 sm:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto mb-[30px]">
						<h5 class="footer-title text-black font-medium text-[24px] mb-5 md:text-[20px] md:mb-[10px] sm:text-[20px] sm:mb-[10px] xsm:text-[20px] xsm:mb-[10px]">Links</h5>
						<ul class="footer-nav-link mb-0 pl-0 list-none ">
							<li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[color:var(--prime-two)] hover:underline" href="index.html">Home</a></li>
							<li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[color:var(--prime-two)] hover:underline" href="pricing.html">Pricing</a></li>
							<li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[color:var(--prime-two)] hover:underline" href="about-v1.html">About us</a></li>
							<li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[color:var(--prime-two)] hover:underline" href="blog-v1.html">Careers</a></li>
							<li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[color:var(--prime-two)] hover:underline" href="service-v1.html">Features</a></li>
							<li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[color:var(--prime-two)] hover:underline" href="blog-v1.html">Demo the product</a></li>
						</ul>
					</div>
					<div class="xl:w-3/12 lg:w-3/12 md:w-4/12 sm:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full mb-[30px]">
						<h5 class="footer-title text-black font-medium text-[24px] mb-5 md:text-[20px] md:mb-[10px] sm:text-[20px] sm:mb-[10px] xsm:text-[20px] xsm:mb-[10px]">Legal</h5>
						<ul class="footer-nav-link mb-0 pl-0 list-none ">
							<li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[color:var(--prime-two)] hover:underline" href="faq.html">Terms of use</a></li>
							<li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[color:var(--prime-two)] hover:underline" href="faq.html">Terms & conditions</a></li>
							<li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[color:var(--prime-two)] hover:underline" href="faq.html">Privacy policy</a></li>
							<li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[color:var(--prime-two)] hover:underline" href="faq.html">Cookie policy</a></li>
						</ul>
					</div>
					<div class="xl:w-2/12 lg:w-3/12 md:w-4/12 sm:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full mb-[30px]">
						<h5 class="footer-title text-black font-medium text-[24px] mb-5 md:text-[20px] md:mb-[10px] sm:text-[20px] sm:mb-[10px] xsm:text-[20px] xsm:mb-[10px]">Products</h5>
						<ul class="footer-nav-link mb-0 pl-0 list-none ">
							<li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[color:var(--prime-two)] hover:underline" href="blog-details.html">Take the tour</a></li>
							<li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[color:var(--prime-two)] hover:underline" href="blog-details.html">Live chat</a></li>
							<li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[color:var(--prime-two)] hover:underline" href="blog-details.html">Self-service</a></li>
							<li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[color:var(--prime-two)] hover:underline" href="blog-details.html">Social</a></li>
							<li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[color:var(--prime-two)] hover:underline" href="blog-details.html">Collaboration</a></li>
							<li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[color:var(--prime-two)] hover:underline" href="blog-details.html">Jano Reviews</a></li>
						</ul>
					</div>
				</div>
			</div> <!-- /.inner-wrapper -->
		</div>
		<div class="shapes shape-one rounded-[50%] absolute z-[-1] w-60 h-60 opacity-70 top-[-120px] left-[-120px] bg-[#FFBF44] md:w-[100px] md:h-[100px] md:top-[-50px] md:-left-3 sm:w-[100px] sm:h-[100px] sm:top-[-50px] sm:-left-3 xsm:w-[100px] xsm:h-[100px] xsm:top-[-50px] xsm:-left-3"></div>
		<div class="shapes shape-two rounded-[50%] absolute z-[-1] w-[136px] h-[136px] opacity-[0.65] right-[-70px] bottom-[-55px] bg-[#15B9FF] md:w-[50px] md:h-[50px] md:-right-3 md:bottom-0 sm:w-[50px] sm:h-[50px] sm:-right-3 sm:bottom-0 xsm:w-[50px] xsm:h-[50px] xsm:-right-3 xsm:bottom-0"></div>
		<img src="images/lazy.svg" data-src="images/shape/shape_42.svg" alt="" class="lazy-img shapes shape-three absolute z-[-1] right-[-4%] top-[-14%] md:!hidden sm:!hidden xsm:!hidden">
		<img src="images/lazy.svg" data-src="images/shape/shape_43.svg" alt="" class="lazy-img shapes shape-four absolute z-[-1] left-[-6%] bottom-[16%] md:!hidden sm:!hidden xsm:!hidden">
	</div> <!-- /.top-footer -->
	<div class="bottom-footer relative z-[2] p-[40px_0_25px] md:p-[20px_0_0] sm:p-[20px_0_0] xsm:p-[20px_0_0]">
		<div class="container">
			<div class="inner-wrapper m-auto">
				<div class="flex flex-wrap mx-[-12px]">
					<div class="xl:w-4/12 lg:w-4/12 md:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-none lg:order-none mb-[15px]">
						<ul class="flex justify-center xl:justify-start lg:justify-start footer-nav mb-0 pl-0 list-none ">
							<li><a class=" text-[15px] font-medium text-black mr-[22px] hover:underline md:m-[0_10px] sm:m-[0_10px] xsm:m-[0_10px]" href="faq.html">Privacy &amp; Terms.</a></li>
							<li><a class=" text-[15px] font-medium text-black mr-[22px] hover:underline md:m-[0_10px] sm:m-[0_10px] xsm:m-[0_10px]" href="contact-us.html">Contact Us</a></li>
						</ul>
					</div>
					<div class="xl:w-4/12 lg:w-4/12 md:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-2 lg:order-2 mb-[15px]">
						<ul class="flex justify-center xl:justify-end lg:justify-end social-icon mb-0 pl-0 list-none ">
							<li><a class=" text-[19px] text-[#333333] transition-all duration-[0.3s] ease-[ease-in-out] ml-[19px] hover:text-[color:var(--prime-two)] md:m-[0_10px] sm:m-[0_10px] xsm:m-[0_10px]" href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a class=" text-[19px] text-[#333333] transition-all duration-[0.3s] ease-[ease-in-out] ml-[19px] hover:text-[color:var(--prime-two)] md:m-[0_10px] sm:m-[0_10px] xsm:m-[0_10px]" href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a class=" text-[19px] text-[#333333] transition-all duration-[0.3s] ease-[ease-in-out] ml-[19px] hover:text-[color:var(--prime-two)] md:m-[0_10px] sm:m-[0_10px] xsm:m-[0_10px]" href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					<div class="xl:w-4/12 lg:w-4/12 md:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-1 lg:order-1 mb-[15px]">
						<p class="copyright text-center !m-0 text-[15px]">Copyright @2023 janu inc.</p>
					</div>
				</div>
			</div> <!-- /.inner-wrapper -->
		</div>
	</div> <!-- /.bottom-footer -->
</div>

