<div
	class='footer-style-two theme-basic-footer py-0 px-3 min-[1200px]:px-[4%] min-[1536px]:px-[10%]'>
	<div
		class='top-footer relative z-1 rounded-[20px] border border-solid border-neutral-200 pt-17.5 px-3 pb-0 min-[1024px]:pb-2.5'>
		<div class='container'>
			<div class='inner-wrapper m-auto max-w-[1170px]'>
				<div class='-mx-3 flex flex-wrap justify-between px-4'>
					<div class='footer-intro mb-10'>
						<div class='logo'>
							<a href='index.html'
								><img
									src='images/logo.svg'
									class='h-auto w-full min-[640px]:h-12 min-[640px]:w-auto'
									alt=''
									width='95'
								/></a
							>
						</div>
						<a
							href='mailto:hello@design2tailwind.com'
							class='email tran3s mt-2.5 mb-3.75 text-base/[1.67em] hover:text-[#BC46E2] hover:underline min-[1280px]:mt-8.75 min-[1280px]:text-lg'
							>hello@design2tailwind.com</a
						>
						<br />
						<!-- <a
							href='#'
							class=''
							><img
								src='images/lazy.svg'
								data-src='images/icon/icon-twitter.svg'
								alt=''
								class='lazy-img h-9'
							/></a
						> -->
					</div>
					<div class='flex w-full gap-4 min-[1024px]:w-1/2'>
						<div class='mb-7.5 flex-1'>
							<h5
								class='font-Recoleta footer-title mb-2.5 text-xl font-medium text-black min-[1024px]:mb-5 min-[1024px]:text-2xl'>
								Menu
							</h5>
							<ul class='footer-nav-link mb-0 list-none pl-0'>
								<li>
									<a
										href='/'
										class='text-base/[38px] transition-all duration-300 ease-in-out hover:text-[#BC46E2] hover:underline min-[1024px]:text-[17px]/10'
										href='index.html'
										>Home</a
									>
								</li>
								<li>
									<a
										href='/for-agencies'
										class='text-base/[38px] transition-all duration-300 ease-in-out hover:text-[#BC46E2] hover:underline min-[1024px]:text-[17px]/10'
										href='pricing.html'
										>For Agencies</a
									>
								</li>
								<li>
									<a
										href='/about'
										class='text-base/[38px] transition-all duration-300 ease-in-out hover:text-[#BC46E2] hover:underline min-[1024px]:text-[17px]/10'
										href='about-v1.html'
										>About us</a
									>
								</li>
								<!-- <li>
									<a
										href='/blog'
										class='text-base/[38px] transition-all duration-300 ease-in-out hover:text-[#BC46E2] hover:underline min-[1024px]:text-[17px]/10'
										href='blog-v1.html'
										>Blog</a
									>
								</li> -->
							</ul>
						</div>
						<div class='mb-7.5 flex-1'>
							<h5
								class='footer-title font-Recoleta mb-2.5 text-xl font-medium text-black min-[1024px]:mb-5 min-[1024px]:text-2xl'>
								Design Tools
							</h5>
							<ul class='footer-nav-link mb-0 list-none pl-0'>
								<li>
									<a
										href='/figma-to-tailwind'
										class='text-base/[38px] transition-all duration-300 ease-in-out hover:text-[#BC46E2] hover:underline min-[1024px]:text-[17px]/10'
										>Figma</a
									>
								</li>
								<li>
									<a
										href='/sketch-to-tailwind'
										class='text-base/[38px] transition-all duration-300 ease-in-out hover:text-[#BC46E2] hover:underline min-[1024px]:text-[17px]/10'
										>Sketch</a
									>
								</li>
								<li>
									<a
										href='/adobe-xd-to-tailwind'
										class='text-base/[38px] transition-all duration-300 ease-in-out hover:text-[#BC46E2] hover:underline min-[1024px]:text-[17px]/10'
										>Adobe XD</a
									>
								</li>
								<li>
									<a
										href='/psd-to-tailwind'
										class='text-base/[38px] transition-all duration-300 ease-in-out hover:text-[#BC46E2] hover:underline min-[1024px]:text-[17px]/10'
										>Photoshop</a
									>
								</li>
							</ul>
						</div>
						<div class='mb-7.5 flex-1'>
							<h5
								class='footer-title font-Recoleta mb-2.5 text-xl font-medium text-black min-[1024px]:mb-5 min-[1024px]:text-2xl'>
								Frameworks
							</h5>
							<ul class='footer-nav-link mb-0 list-none pl-0'>
								<li>
									<a
										href='/design-to-tailwind-react'
										class='text-base/[38px] transition-all duration-300 ease-in-out hover:text-[#BC46E2] hover:underline min-[1024px]:text-[17px]/10'
										>React</a
									>
								</li>
								<li>
									<a
										href='/design-to-tailwind-vue'
										class='text-base/[38px] transition-all duration-300 ease-in-out hover:text-[#BC46E2] hover:underline min-[1024px]:text-[17px]/10'
										>Vue</a
									>
								</li>
								<li>
									<a
										href='/design-to-tailwind-astro'
										class='text-base/[38px] transition-all duration-300 ease-in-out hover:text-[#BC46E2] hover:underline min-[1024px]:text-[17px]/10'
										>Astro</a
									>
								</li>
								<li>
									<a
										href='/design-to-tailwind-alpinejs'
										class='text-base/[38px] transition-all duration-300 ease-in-out hover:text-[#BC46E2] hover:underline min-[1024px]:text-[17px]/10'
										>Alpine.js</a
									>
								</li>
								<li>
									<a
										href='/design-to-tailwind-shopify'
										class='text-base/[38px] transition-all duration-300 ease-in-out hover:text-[#BC46E2] hover:underline min-[1024px]:text-[17px]/10'
										>Shopify</a
									>
								</li>
								<li>
									<a
										href='/design-to-tailwind-statamic'
										class='text-base/[38px] transition-all duration-300 ease-in-out hover:text-[#BC46E2] hover:underline min-[1024px]:text-[17px]/10'
										>Statamic</a
									>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /.inner-wrapper -->
		</div>
		<div
			class='shapes shape-one absolute -z-1 rounded-full bg-[#FFBF44] opacity-70 size-25 -top-12.5 -left-3 min-[1024px]:-left-30 min-[1280px]:size-52 min-[1280px]:-top-33.75 min-[1536px]:size-60 min-[1536px]:-top-40'>
		</div>
		<div
			class='shapes shape-two absolute -z-1 rounded-full bg-[#15B9FF] opacity-65 size-12.5 -right-3 bottom-0 min-[1024px]:-right-17.5 min-[1280px]:size-28 min-[1280px]:-bottom-8 min-[1536px]:size-34 min-[1536px]:-bottom-13.75'>
		</div>
		<img
			src='images/lazy.svg'
			data-src='images/shape/shape_42.svg'
			alt=''
			class='lazy-img shapes shape-three absolute -top-[14%] -right-[4%] -z-1 hidden min-[1024px]:block'
		/>
		<!-- <img
			src='images/lazy.svg'
			data-src='images/shape/shape_43.svg'
			alt=''
			class='lazy-img shapes shape-four xsm:hidden! absolute bottom-[16%] left-[-6%] z-[-1] sm:hidden! md:hidden!'
		/> -->
	</div>
	<!-- /.top-footer -->
	<div class='bottom-footer relative z-2 pt-5 px-0 pb-0 min-[1024px]:pt-10 min-[1024px]:pb-6.25'>
		<div class='container'>
			<div class='inner-wrapper m-auto max-w-[1170px]'>
				<div class='flex flex-col items-center justify-between gap-3 text-center min-[768px]:flex-row'>
					<p class='copyright m-0 text-[15px] text-gray-600'>
						Copyright {new Date().getFullYear()} Design2Tailwind.
					</p>
					<div class='flex items-center gap-6'>
						<a
							href='/terms'
							class='text-sm text-gray-500 transition-colors hover:text-[#BC46E2]'
							>Terms & Conditions</a
						>
						<a
							href='/privacy'
							class='text-sm text-gray-500 transition-colors hover:text-[#BC46E2]'
							>Privacy Policy</a
						>
					</div>
				</div>
			</div>
			<!-- /.inner-wrapper -->
		</div>
	</div>
	<!-- /.bottom-footer -->
</div>
