<div
	class='footer-style-two theme-basic-footer xsm:p-[0_12px] p-[0_10%] sm:p-[0_12px] md:p-[0_12px] lg:p-[0_12px] 2xl:p-[0_4%]'>
	<div
		class='top-footer xsm:p-[70px_12px_0] relative z-1 rounded-[20px] border border-solid border-neutral-200 p-[70px_12px_10px] sm:p-[70px_12px_0] md:p-[70px_12px_0]'>
		<div class='container'>
			<div class='inner-wrapper m-auto max-w-[1170px]'>
				<div class='mx-[-12px] flex flex-wrap justify-between px-4'>
					<div class='footer-intro mb-10'>
						<div class='logo'>
							<a href='index.html'
								><img
									src='images/logo.svg'
									class='xsm:h-auto xsm:w-full h-12 w-auto'
									alt=''
									width='95'
								/></a
							>
						</div>
						<a
							href='mailto:hello@design2tailwind.com'
							class='email tran3s xsm:text-[16px] xsm:mt-[10px] mt-[35px] mb-[15px] text-[18px] leading-[1.67em] hover:text-[#BC46E2] hover:underline sm:mt-[10px] sm:text-[16px] md:mt-[10px] md:text-[16px] lg:text-[16px]'
							>hello@design2tailwind.com</a
						>
						<br />
						<!-- <a
							href='#'
							class=''
							><img
								src='images/lazy.svg'
								data-src='images/icon/icon-twitter.svg'
								alt=''
								class='lazy-img h-9'
							/></a
						> -->
					</div>
					<div class='flex w-full gap-4 lg:w-1/2 xl:w-1/2'>
						<div class='mb-[30px] flex-1'>
							<h5
								class='font-Recoleta footer-title xsm:text-[20px] xsm:mb-[10px] mb-5 text-[24px] font-medium text-black sm:mb-[10px] sm:text-[20px] md:mb-[10px] md:text-[20px]'>
								Menu
							</h5>
							<ul class='footer-nav-link mb-0 list-none pl-0'>
								<li>
									<a
										href='/'
										class='xsm:text-[16px] xsm:leading-[38px] text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] hover:text-[#BC46E2] hover:underline sm:text-[16px] sm:leading-[38px] md:text-[16px] md:leading-[38px]'
										href='index.html'
										>Home</a
									>
								</li>
								<li>
									<a
										href='/for-agencies'
										class='xsm:text-[16px] xsm:leading-[38px] text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] hover:text-[#BC46E2] hover:underline sm:text-[16px] sm:leading-[38px] md:text-[16px] md:leading-[38px]'
										href='pricing.html'
										>For Agencies</a
									>
								</li>
								<li>
									<a
										href='/about'
										class='xsm:text-[16px] xsm:leading-[38px] text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] hover:text-[#BC46E2] hover:underline sm:text-[16px] sm:leading-[38px] md:text-[16px] md:leading-[38px]'
										href='about-v1.html'
										>About us</a
									>
								</li>
								<!-- <li>
									<a
										href='/blog'
										class='xsm:text-[16px] xsm:leading-[38px] text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] hover:text-[#BC46E2] hover:underline sm:text-[16px] sm:leading-[38px] md:text-[16px] md:leading-[38px]'
										href='blog-v1.html'
										>Blog</a
									>
								</li> -->
							</ul>
						</div>
						<div class='mb-[30px] flex-1'>
							<h5
								class='footer-title font-Recoleta xsm:text-[20px] xsm:mb-[10px] mb-5 text-[24px] font-medium text-black sm:mb-[10px] sm:text-[20px] md:mb-[10px] md:text-[20px]'>
								Design Tools
							</h5>
							<ul class='footer-nav-link mb-0 list-none pl-0'>
								<li>
									<a
										href='/figma-to-tailwind'
										class='xsm:text-[16px] xsm:leading-[38px] text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] hover:text-[#BC46E2] hover:underline sm:text-[16px] sm:leading-[38px] md:text-[16px] md:leading-[38px]'
										>Figma</a
									>
								</li>
								<li>
									<a
										href='/sketch-to-tailwind'
										class='xsm:text-[16px] xsm:leading-[38px] text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] hover:text-[#BC46E2] hover:underline sm:text-[16px] sm:leading-[38px] md:text-[16px] md:leading-[38px]'
										>Sketch</a
									>
								</li>
								<li>
									<a
										href='/adobe-xd-to-tailwind'
										class='xsm:text-[16px] xsm:leading-[38px] text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] hover:text-[#BC46E2] hover:underline sm:text-[16px] sm:leading-[38px] md:text-[16px] md:leading-[38px]'
										>Adobe XD</a
									>
								</li>
								<li>
									<a
										href='/psd-to-tailwind'
										class='xsm:text-[16px] xsm:leading-[38px] text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] hover:text-[#BC46E2] hover:underline sm:text-[16px] sm:leading-[38px] md:text-[16px] md:leading-[38px]'
										>Photoshop</a
									>
								</li>
							</ul>
						</div>
						<div class='mb-[30px] flex-1'>
							<h5
								class='footer-title font-Recoleta xsm:text-[20px] xsm:mb-[10px] mb-5 text-[24px] font-medium text-black sm:mb-[10px] sm:text-[20px] md:mb-[10px] md:text-[20px]'>
								Frameworks
							</h5>
							<ul class='footer-nav-link mb-0 list-none pl-0'>
								<li>
									<a
										href='/design-to-tailwind-react'
										class='xsm:text-[16px] xsm:leading-[38px] text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] hover:text-[#BC46E2] hover:underline sm:text-[16px] sm:leading-[38px] md:text-[16px] md:leading-[38px]'
										>React</a
									>
								</li>
								<li>
									<a
										href='/design-to-tailwind-vue'
										class='xsm:text-[16px] xsm:leading-[38px] text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] hover:text-[#BC46E2] hover:underline sm:text-[16px] sm:leading-[38px] md:text-[16px] md:leading-[38px]'
										>Vue</a
									>
								</li>
								<li>
									<a
										href='/design-to-tailwind-astro'
										class='xsm:text-[16px] xsm:leading-[38px] text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] hover:text-[#BC46E2] hover:underline sm:text-[16px] sm:leading-[38px] md:text-[16px] md:leading-[38px]'
										>Astro</a
									>
								</li>
								<li>
									<a
										href='/design-to-tailwind-alpinejs'
										class='xsm:text-[16px] xsm:leading-[38px] text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] hover:text-[#BC46E2] hover:underline sm:text-[16px] sm:leading-[38px] md:text-[16px] md:leading-[38px]'
										>Alpine.js</a
									>
								</li>
								<li>
									<a
										href='/design-to-tailwind-shopify'
										class='xsm:text-[16px] xsm:leading-[38px] text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] hover:text-[#BC46E2] hover:underline sm:text-[16px] sm:leading-[38px] md:text-[16px] md:leading-[38px]'
										>Shopify</a
									>
								</li>
								<li>
									<a
										href='/design-to-tailwind-statamic'
										class='xsm:text-[16px] xsm:leading-[38px] text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] hover:text-[#BC46E2] hover:underline sm:text-[16px] sm:leading-[38px] md:text-[16px] md:leading-[38px]'
										>Statamic</a
									>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /.inner-wrapper -->
		</div>
		<div
			class='shapes shape-one xxl:w-60 xxl:h-60 xxl:top-[-160px] xsm:w-[100px] xsm:h-[100px] xsm:top-[-50px] xsm:-left-3 absolute left-[-120px] z-[-1] rounded-[50%] bg-[#FFBF44] opacity-70 sm:top-[-50px] sm:-left-3 sm:h-[100px] sm:w-[100px] md:top-[-50px] md:-left-3 md:h-[100px] md:w-[100px] xl:top-[-135px] xl:h-52 xl:w-52'>
		</div>
		<div
			class='shapes shape-two xxl:w-[136px] xxl:h-[136px] xxl:bottom-[-55px] xsm:w-[50px] xsm:h-[50px] xsm:-right-3 xsm:bottom-0 absolute right-[-70px] z-[-1] rounded-[50%] bg-[#15B9FF] opacity-[0.65] sm:-right-3 sm:bottom-0 sm:h-[50px] sm:w-[50px] md:-right-3 md:bottom-0 md:h-[50px] md:w-[50px] xl:-bottom-8 xl:h-28 xl:xl:w-28'>
		</div>
		<img
			src='images/lazy.svg'
			data-src='images/shape/shape_42.svg'
			alt=''
			class='lazy-img shapes shape-three xsm:hidden! absolute top-[-14%] right-[-4%] z-[-1] sm:hidden! md:hidden!'
		/>
		<!-- <img
			src='images/lazy.svg'
			data-src='images/shape/shape_43.svg'
			alt=''
			class='lazy-img shapes shape-four xsm:hidden! absolute bottom-[16%] left-[-6%] z-[-1] sm:hidden! md:hidden!'
		/> -->
	</div>
	<!-- /.top-footer -->
	<div class='bottom-footer xsm:p-[20px_0_0] relative z-2 p-[40px_0_25px] sm:p-[20px_0_0] md:p-[20px_0_0]'>
		<div class='container'>
			<div class='inner-wrapper m-auto max-w-[1170px]'>
				<div class='flex flex-col items-center justify-between gap-3 text-center md:flex-row'>
					<p class='copyright m-0! text-[15px] text-gray-600'>
						Copyright {new Date().getFullYear()} Design2Tailwind.
					</p>
					<div class='flex items-center gap-6'>
						<a
							href='/terms'
							class='text-[14px] text-gray-500 transition-colors hover:text-[#BC46E2]'
							>Terms & Conditions</a
						>
						<a
							href='/privacy'
							class='text-[14px] text-gray-500 transition-colors hover:text-[#BC46E2]'
							>Privacy Policy</a
						>
					</div>
				</div>
			</div>
			<!-- /.inner-wrapper -->
		</div>
	</div>
	<!-- /.bottom-footer -->
</div>
