<header class="theme-main-menu sticky-menu theme-menu-two absolute z-[99] transition-all duration-[0.4s] ease-[ease-out] p-[20px_60px] top-0 inset-x-0 2xl:px-[35px] lg:px-5 md:px-[12px] sm:px-[12px] xsm:px-[12px]">
	<div class="inner-content relative pl-4">
		<div class="flex items-center justify-between">
			<div class="flex items-center"><a href="index.html"><img src="images/logo.svg" alt="" width="250"></a></div>

			<div class="right-widget  flex items-center xl:order-3 lg:order-3">
				<!-- <a href="signin.html" class="login-btn-one text-[17px] lg:text-[15px] md:text-[15px] sm:text-[15px] xsm:text-[15px] font-medium tran3s mr-[1rem] leading-[48px] border text-black p-[0_35px] rounded-[30px] border-solid border-[#E4E4E4] hover:text-white hover:bg-[#BC46E2] lg:p-[0_25px] lg:leading-[45px] md:p-[0_25px] md:leading-[45px] sm:p-[0_25px] sm:leading-[45px] xsm:p-[0_25px] xsm:leading-[45px]">Login</a> -->
				<a href="/#quote" class="contact-btn-two text-[17px] lg:text-[15px] md:text-[15px] sm:text-[15px] xsm:text-[15px] font-medium tran3s hidden xl:block lg:block leading-[48px] border border-[#BC46E2] text-[#BC46E2] p-[0_35px] rounded-[30px] border-solid hover:text-white hover:bg-[#BC46E2] lg:leading-[45px] lg:p-[0_25px] md:leading-[45px] md:p-[0_25px] sm:leading-[45px] sm:p-[0_25px] xsm:leading-[45px] xsm:p-[0_25px]">Get a Quote</a>
			</div> <!-- /.right-widget -->

			<nav class="navbar navbar-expand-lg md:p-0 sm:p-0 xsm:p-0 flex items-center py-2 xl:flex-nowrap xl:justify-start lg:flex-nowrap lg:justify-start xl:order-2 lg:order-2 static flex-wrap justify-between">
				<button class="navbar-toggler text-[1.25rem] leading-none transition-shadow duration-[0.15s] ease-[ease-in-out] w-11 h-[38px] relative z-[99] block xl:hidden lg:hidden shadow-[0_15px_20px_0px_rgba(0,0,0,0.05)] p-0 border-0 rounded-[.25rem] focus:shadow-none bg-[#BC46E2] before:content-[''] before:absolute before:w-[26px] before:h-0.5 before:pointer-events-none before:transition-transform before:duration-[0.25s] before:origin-[50%_50%] before:left-[9px] before:top-2/4 before:bg-white after:content-[''] after:absolute after:w-[26px] after:h-0.5 after:pointer-events-none after:transition-transform after:duration-[0.25s] after:origin-[50%_50%] after:left-[9px] after:top-2/4 after:bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class=" absolute overflow-hidden w-[26px] h-0.5 indent-[200%] transition-opacity duration-[0.25s] -mt-px left-[9px] bg-white"></span>
				</button>
			<div class="collapse navbar-collapse
			basis-full grow items-center md:fixed md:bg-white md:h-screen md:max-h-screen md:overflow-y-auto md:clear-both md:w-4/5 md:max-w-[calc(100vw_-_60px)] md:z-[9999] md:-translate-x-full md:block md:transition-all md:duration-[0.3s] md:ease-[ease-in-out] md:p-[32px_15px_20px] md:left-0 md:top-0 md:visible
			sm:fixed sm:bg-white sm:h-screen sm:max-h-screen sm:overflow-y-auto sm:clear-both sm:w-80 sm:max-w-[calc(100vw_-_60px)] sm:z-[9999] sm:-translate-x-full sm:block sm:transition-all sm:duration-[0.3s] sm:ease-[ease-in-out] sm:p-[32px_15px_20px] sm:left-0 sm:top-0 sm:visible
			xsm:fixed xsm:bg-white xsm:h-screen xsm:max-h-screen xsm:overflow-y-auto xsm:clear-both xsm:w-80 xsm:max-w-[calc(100vw_-_60px)] xsm:z-[9999] xsm:-translate-x-full xsm:block xsm:transition-all xsm:duration-[0.3s] xsm:ease-[ease-in-out] xsm:p-[32px_15px_20px] xsm:left-0 xsm:top-0 xsm:visible" id="navbarNav">
				<ul class="navbar-nav xl:flex-row lg:flex-row flex flex-col mb-0 pl-0">
					<li class="block xl:hidden lg:hidden">
							<div class="flex items-center mb-12">
								<a href="/" class="block"><img src="images/logo.svg" class="w-auto h-8" alt=""></a>
							</div>
						</li>
					<li>
						<a href="/" class="nav-link visible block font-medium text-[18px] lg:text-[17px] hover:!text-[#BC46E2] text-black relative transition-all duration-[0.3s] ease-[ease-in-out] m-[0_26px] p-[13px_0]">Home</a>
				</li>
				<li class="relative">
					<a href="#" class="nav-link visible block font-medium hover:!text-[#BC46E2] text-[18px] lg:text-[17px] text-black relative transition-all duration-[0.3s] ease-[ease-in-out] m-[0_26px] p-[13px_0] ">Services</a>
					<div class="bg-black w-40 absolute z-[999] top-10">
						<ul>
							<li><a  href="/figma-to-tailwind" class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#BC46E2] hover:underline" href="blog-details.html">Figma to Tailwind CSS</a></li>
							<li><a href="/for-agencies" class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#BC46E2] hover:underline" href="blog-details.html">For agencies</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="/pricing" class="nav-link visible block font-medium hover:!text-[#BC46E2] text-[18px] lg:text-[17px] text-black relative transition-all duration-[0.3s] ease-[ease-in-out] m-[0_26px] p-[13px_0] ">Pricing</a>
				</li>
				<li>
					<a href="/about" class="nav-link visible block font-medium hover:!text-[#BC46E2] text-[18px] lg:text-[17px] text-black relative transition-all duration-[0.3s] ease-[ease-in-out] m-[0_26px] p-[13px_0] ">About</a>
				</li>
				<li>
					<a href="/blog" class="nav-link visible block font-medium hover:!text-[#BC46E2] text-[18px] lg:text-[17px] text-black relative transition-all duration-[0.3s] ease-[ease-in-out] m-[0_26px] p-[13px_0] ">Blog</a>
				</li>
				</ul>
				<!-- Mobile Content
				<div class="mobile-content block xl:hidden lg:hidden">
					<div class="flex flex-col  items-center justify-center mt-[70px]">
						<a href="contact-us.html" class="contact-btn-two text-[17px] lg:text-[15px] md:text-[15px] sm:text-[15px] xsm:text-[15px] font-medium tran3s leading-[48px] border border-[color:var(--prime-two)] text-[color:var(--prime-two)] p-[0_35px] rounded-[30px] border-solid hover:text-white hover:bg-[var(--prime-two)] lg:leading-[45px] lg:p-[0_25px] md:leading-[45px] md:p-[0_25px] sm:leading-[45px] sm:p-[0_25px] xsm:leading-[45px] xsm:p-[0_25px]">Contact us</a>
					</div>
				</div> -->
			</div>
			</nav>
		</div>
	</div> <!-- /.inner-content -->
</header>
